.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */

.initial {
  border-radius: 50px;
  padding: 10px 15px;
  font-size: 17px;
  color: #ffffff;
  font-family: 'Roboto';
}

.person_name {
  color: #334155;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  margin-top: 15px;
  margin-left: 15px;
}

.time {
  color: #94a3b8;
  font-size: 13px;
  margin-left: 10px;
  font-weight: normal;
}

.comment {
  color: #94a3b8;
  font-family: 'Roboto';
  font-size: 18px;
  margin-left: 15px;
}

.comment_container {
  display: flex;
}

.like_button_container {
  display: flex;
  align-items: center;
}

.like_button {
  font-size: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding-top: 10px;
  margin-left: 20px;
  font-family: 'Roboto';
}

.like_button_color {
  color: #7e858e;
}
.liked_button_color {
  color: #0ea5e9;
}

.like_image {
  height: 23px;
}

.delete_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.delete_image {
  height: 23px;
}

.like_delete_container {
  display: flex;
  justify-content: space-between;
}
